<div class="container"> 

    <h1>Nueva Movie</h1>

    <%= form_with(model: @movie, url: movies_path) do |form| %>
        <div class="card">
            <div class="card-body">
                <% if @movie.errors.any? %>
                    <div id="error_explanation">
                    <h2><%= pluralize(@movie.errors.count, "error") %> impidieron guardar esta película:</h2>

                    <ul>
                        <% @movie.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                    </div>
                <% end %>

                <div class="mb-3">
                    <%= form.label :name %>
                    <%= form.text_field :name %>
                </div>

                <div class="mb-3">
                    <%= form.label :director %>
                    <%= form.text_field :director %>
                </div>

                <div class="mb-3">
                    <%= form.label :synopsis %>
                    <%= form.text_field :synopsis %>
                </div>

                <div class="actions">
                    <%= form.submit 'Guardar', class: 'btn btn-success' %>
                </div>
                </div>
            </div>
        </div>
    <% end %>

    <%= link_to 'Volver a la lista', movies_path, , class: "btn btn-primary" %>
</div>
