<div class="container"> 

    <h1>Nueva Serie</h1>

    <%= form_with(model: @serie) do |form| %>
        <div class="card">
            <div class="card-body">

                <div class="mb-3">
                    <%= form.label :name %>
                    <%= form.text_field :name %>
                </div>

                <div class="mb-3">
                    <%= form.label :director %>
                    <%= form.text_field :director %>
                </div>

                <div class="mb-3">
                    <%= form.label :synopsis %>
                    <%= form.text_field :synopsis %>
                </div>

                <div class="actions">
                    <%= form.submit 'Guardar', class: 'btn btn-success' %>
                </div>
                </div>
            </div>
        </div>
    <% end %>
    <%= link_to 'Volver a la lista', series_path, class: "btn btn-primary" %>

</div>
