<div class="container"> 
    <h1>Nuevo Documental</h1>
    <%= form_with(model: @documentary_film, url: documentary_films_path) do |form| %>
        <div class="card">
            <div class="card-body">

                <% if @documentary_film.errors.any? %>
                    <div id="error_explanation">
                    <h2><%= pluralize(@documentary_film.errors.count, "error") %> impidieron guardar este documental:</h2>

                    <ul>
                        <% @documentary_film.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                    </div>
                <% end %>

                <div class="mb-3">
                    <%= form.label :name %>
                    <%= form.text_field :name %>
                </div>

                <div class="mb-3">
                    <%= form.label :director %>
                    <%= form.text_field :director %>
                </div>

                <div class="mb-3">
                    <%= form.label :synopsis %>
                    <%= form.text_area :synopsis %>
                </div>


                <div class="actions">
                    <%= form.submit 'Guardar', class: 'btn btn-success' %>
                </div>

            </div>
        </div>    
    <% end %>

    <%= link_to 'Volver a la lista', documentary_films_path, class: "btn btn-primary" %>

</div>
